parameters:
    level: 8
    paths:
        - src/
        - tests/
    ignoreErrors:
        # These errors below are needed by the Extension Starter as we don't know if there will be an integration plugin or not, and to avoid the errors from the corresponding `if` statements
        - 
            message: "#Strict comparison using !== between '' and '' will always evaluate to false.#"
            path: src/GatoGraphQLExtension.php
            reportUnmatched: false
        - 
            message: "#Unreachable statement - code above always terminates.#"
            path: src/GatoGraphQLExtension.php
            reportUnmatched: false
        - 
            message: "#Strict comparison using !== between '' and '' will always evaluate to false.#"
            path: src/ModuleResolvers/SchemaTypeModuleResolver.php
            reportUnmatched: false
        - 
            message: "#Else branch is unreachable because ternary operator condition is always true.#"
            path: src/ModuleResolvers/SchemaTypeModuleResolver.php
            reportUnmatched: false
