parameters:
    level: 8

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - layers/GatoGraphQLForWP/plugins/extension-name/phpstan.neon.dist
    - layers/GatoGraphQLForWP/packages/extension-name-schema/phpstan.neon.dist
